.book-list {
    display: flex;
}
.book {
    width: 150px;
    padding: 15px;
    margin-right: 15px;
    background: lightgrey;
    text-align: center;
}

.book__cover {
    background: #fff;
    min-height: 100px;
}
.book__cover img {
    width: 100%;
}